PORT=3000
API_KEY=sua-chave-aqui
USE_SUPABASE=false
USE_FIREBASE=true
SUPABASE_URL=https://zuouezpzjyewteuwhxgb.supabase.co
SUPABASE_ANON_KEY=sua-chave-anon-aqui
RATE_LIMIT_MS=2000
GEMINI_API_KEY=
APP_URL=
